config/clipit
config/Electron
config/dmenu
config/dolphinrc
config/i3-scrot.conf
config/epdfview
config/Ferdi
config/google-chrome
config/htop
config/Keybase
config/knfsshare
config/Ledger\ Live
config/menus
config/mimeapps.list
config/pulse
config/qt5ct
config/ranger
config/spotify
config/thefuck
config/torbrowser
config/VeraCrypt
config/viewnior
config/vlc
config/volumeicon
config/wal
config/wireshark
config/Yubico
